.Header{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: cornflowerblue;
}

.heading{
    margin: 0%;
    padding: 0;
    color: cornsilk;
    font-size: 50px;
}
.p{
    margin: 0;
    padding: 0;
    color:white;
    font-size: 20px;
}